<div class="container">
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="!estudiante"> Agregar Estudiante <i class="fa-solid fa-plus"></i> </h4>
    <h4 class="modal-title" *ngIf="estudiante"> Edicion Estudiante <i class="fa-solid fa-pencil"></i> </h4>
  </div>

  <form [formGroup]="form">
    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          
          <label class="form-label"> Primer Nombre </label>
          <input type="text" class="form-control" placeholder="primer nombre" formControlName="first_name">

          <label class="form-label"> Segundo Nombre </label>
          <input type="text" class="form-control" placeholder="segundo nombre" formControlName="last_name">

          <label class="form-label"> Correo </label>
          <input type="text" class="form-control" placeholder="correo" formControlName="email">
          
          <label class="form-label"> Telefono </label>
          <input type="text" class="form-control" placeholder="telefono" formControlName="phone_number">

          <label class="form-label"> Grupo </label>
          <input type="text" class="form-control" placeholder="grupo" formControlName="group">

          <label class="form-label"> Nivel </label>
          <input type="number" class="form-control" placeholder="nivel" formControlName="lv_id">

          <label class="form-label"> Geolocalizacion </label>
          <input type="text" class="form-control" placeholder="geolocalizacion" formControlName="geolocation">

        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-secondary" (click)="closeModal()"> Cancelar </button>
      <button type="submit" class="btn btn-primary" *ngIf="!estudiante" (click)="operate()" [disabled]="form.invalid">
        Guardar </button>
      <button type="submit" class="btn btn-primary" *ngIf="estudiante" (click)="operate()" [disabled]="form.invalid">
        Actualizar </button>
    </div>
  </form>
</div>
